.bundle
db/*.sqlite3
log/*
tmp/*
Public/docstore
public/assets/
Public/assets/*
db/sphinx/*
verbose/*
.idea/*
vendor/*

## Application Specific
public/docstore/*
config/environments/development.rb
#config/environments/production.rb
config/production.sphinx.conf
config/development.sphinx.conf
app_support/upload_test/*

## Specific files
config/development.sphinx.conf
config/database.yml
../../DocumentBox/DocumentBox-Server/config/s3.yml
config/private_pub.yml
config/services.yml
app_support/batch/DRbProcessor_remote.rb.pid
app_support/batch/DRbProcessorRemoveServer.rb.pid

## generic files to ignore
*~
# *.lock
*.DS_Store
*.swp
*.out

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt
/spec/requests
/spec/routing
/spec/views
/specifications
app/jobs/cd_drb_worker.pid

# scm revert files
**.orig

## some shell stuff -as cds is installed on user level
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.gem/
.gemrc
.gnupg/
.god/
.irb-history
.lesshst
.local/
.mysql_history
.profile
.rvm/
.ssh/
.zlogin
.zshrc
public/docstore
backup




app_support/upload_test
.gnupg
app_support/avahi_services/avahi_server.rb.pid

.idea/
db/sphinx/
log/
test.rb
test2.rb
tmp/
vendor/
/config/s3.yml
